# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environment
.env/
venv/
ENV/
env/
.venv/

# Environment variables file
.env

# VSCode settings
.vscode/

# macOS files
.DS_Store

# Logs
*.log
